.header {
	padding-top: 29px;
	position: sticky;
	top: 0;
	background-color: white;
	transition: all 1s;
}
.stickyOff {
	top: -30%;
}

.wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 2px
}

.searchIcon {
	position: absolute;
	right: 6rem;
	top: 0.4rem;
	cursor: pointer;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9 ;
	margin-top: 26px;
	padding: 13px 20px;
}

.menuItem {
	margin-right: 3.3rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuItem:last-child {
	margin-right: 0;
	;
}

.text {
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.6rem;
}
.menuLogo {
	display: none;
}
.toggler{
	display: none;
}
ul li {
			list-style-type: none;
		
}
.overlay {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 801px) {
	.searchIcon {
		right: 3rem;
	}
	.header{
		margin-bottom: 1rem;
	}
	.toggler {
		display: block;
		z-index: 4;
		height: 50px;
		width: 50px;
		position: absolute;
		top: 18px;
		right: 5px;
		cursor: pointer;
		opacity: 0;
	}

	.hamburger {
		position: absolute;
		top: 15px;
		right: 5px;
		height: 40px;
		width: 40px;
		padding: 0.6rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.hamburger>div {
		position: relative;
		top: 0;
		left: 0;
		background: black;
		height: 2px;
		width: 60%;
		transition: all 0.4s ease;
		z-index:3;
	}

	.hamburger>div::before,
	.hamburger>div::after {
		content: '';
		position: absolute;
		top: -10px;
		background: black;
		width: 100%;
		height: 2px;
		transition: all 0.4s ease;
	}

	.hamburger>div::after {
		top: 10px;
	}

	.toggler:checked+.hamburger>div {
		background: rgba(0, 0, 0, 0);
	}

	.toggler:checked+.hamburger>div::before {
		top: 0;
		transform: rotate(45deg);
		background: black;
	}


	.toggler:checked+.hamburger>div::after {
		top: 0;
		transform: rotate(135deg);
		background: black;
	}

	.toggler:checked~.menu>div>ul {
		transition: visibility 0.4s ease;
		transition-delay: 0.1s;
		visibility: visible;
	}

	.menu {
		transform: translateX(-80%);
		flex-direction: column;
		align-items: flex-start;
		justify-content: start;
		position: absolute;
		height: 0;
		top: 0;
		left:0;
		margin-top: 0;
		z-index: 2;
		background-color: white;
		width: 75vw;
		font-size: 3rem;
		border-bottom: none;
	}
	.active{
		transition: 0.7s;
		border-right: 1px solid #E9E9E9;
		border-top: 1px solid #E9E9E9;
		display: flex;
		height: 100vh;
		transform: translateX(0);
		opacity: 1;
		
	}
	.active>div {
		border-top: 1px solid #E9E9E9;
	}
		.active>div:first-child {
			border-top: none;
		}
	.burgerBtn {
		display: block;
	}
	.burgerBtnActive{
		left:auto;
		top: 26px;
		right: 50px;
	}
	.menuLogo{
		display: block;
		margin-bottom: 2.5rem;
		margin-top: 1.5rem;
	}
	.searchIcon{
		right: 20px;
	}
	.overlayActive{
		display: block;
	}
}

