.post {
	width: calc((100% - 80px)/3 );
	margin-top: 4.8rem;
}
.image{
	width: 100%;
	margin-bottom: 1.6rem;
}
.text1{
	color:red;
	font-weight: 700;
	font-size: 1.3rem;
	line-height: 1.3rem;
	margin: 0 0 1.6rem;
}
.text2{
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 3rem;
	margin: 0 0 1.6rem;
}
.author{
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 1.2rem;
	margin-bottom: 1.6rem;
}
.dateAndViews{
	color: #9B9B9B;
	font-weight: 400;
}
.text3{
	margin: 0;
	color: #929292;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
}
.post:nth-child(3n+2){
	margin-left: 40px;
	margin-right: 40px;
}

@media screen and (max-width: 1225px) {
	.post {
		width: calc((100% - 40px)/2);
	}
	.post:nth-child(3n+2) {
		margin-left: 0;
		margin-right: 0;
	}
	.post:nth-child(2n) {
		margin-left: 40px;
	}
}

@media screen and (max-width: 801px) {
	.post {
		width: calc((100% - 60px)/2);
	}
}

@media screen and (max-width: 426px) {
	.post {
		width: 100%;
		margin-top: 2.5rem;
	}
	.image {
		height: 230px;
	}
	.post:nth-child(2n) {
		margin-left: 0;
	}
}
